# Abaikan virtual environment
myenv/
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo

# File log dan model
*.log
*.pkl
*.pt
logs/
checkpoints/

# File dataset sementara
*.csv
*.json

# File editor
.vscode/
.DS_Store
Thumbs.db
